body {
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;


}

/* Navigation bar */

#nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    opacity: 90%;
    width: 100%;
    position: fixed;
    top: -100px;
    transition: top 0.3s;
    box-shadow: 1px 1px 2px black;
    z-index: 1;

}

.nav-bar-item {
    padding: 5px;
    margin: 5px;
    color: black;
    font-size: 1vh;
    text-decoration: none;
}

.nav-bar-item:last-child {
    margin-right: 18px;
}

.nav-bar-item:hover {
    text-decoration: underline;
    transition: 0.5s;
}

#nav-bar p {
    position: fixed;
    left: 2%;
    color: black;
    font-size: 1vh;
    text-decoration: none;
}





/* ACTUAL CONTENT */
.content-section {
    display: flex;
    background-color: white;
    height: 50vh;
    width: 100%;
    padding: 48px;
    justify-content: center;
    align-items: center;
}

/* Introduction slide */
#intro {
    display: flex;
    background: white url("../img/lawrence-20.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 36px;
    align-items: center;
    justify-content: space-evenly;
}

#portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 40vh;
    
}

#portrait img {
    height: auto;
    max-width: 60%;
    border-radius: 10%;    
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
    height: 90vh;
}

#bio h3 {
    font-size: 2vh;
    font-style: italic;
    font-weight: 500;
    line-height: 150%;
    margin: 0 0 12px 0;
    color: white;
}

#bio h1 {
    font-size: 3vh;
    font-weight: 600;
    color: white;
    margin: 16px 0 16px 0;

}

#intro-socials {
    display: none;
    justify-content: center;
    align-items: flex-start;
}

/* Education slide */
#education {
    display: flex;
    height: 50vh;
    width: 100%;
    padding: 36px;
    margin-top: 36px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/wheeler.png");
    background-repeat: no-repeat;
    background-size: cover;

}

#education h1 {
    color: white;
    font-size: 6vh;
    font-weight: 300;
    margin-bottom: 0;
}
#education h2 {
    color: black;
    font-size: 4.25vh;
    font-weight: 500;
    margin-bottom: 0;
}

#education h3 {
    color: black;
    font-size: 2vh;
    font-weight: 500;
    text-align: center;
}

#education h4 {
    color: black;
    font-size: 2vh;
    font-weight: 500;
    text-align:center;
    margin-bottom: 0;
    z-index:1 ;
}

#education-header {
    width: 100%;
    height: auto;
    color: white;

}

#degree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#degree img {
    width: 30%;
    height: auto;
}

#degree-desc {
    margin: 0 24px 0 24px;
    color: white;
}

.course-btn {
    width: 180px;
    height: 60px;
    margin: 64px 64px 24px 64px;
    box-shadow: 0 1px 6px rgba(65, 65, 65, 0.5);
    border-radius: 5%;
    border: 5px solid white;
    background: rgba(255, 255, 255, 0.7);
    transition: transform ease 0.2s;
}

.course-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.course-btn p {
    text-align: center;
    margin: 18px 12px 12px 12px;
    color: black;
    font-size: 1.5vh;
    font-weight: 500;
}

.coursework {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 48px;
    /* background-color: #455eba; */
    border-radius: 1%;
    width: auto;
    height: 50%;
    z-index: 0;
}

#buttons {
    display: flex;
    height: 10vh;
    z-index: 1;
    user-select: none;
    
}




/* PROJECTS SLIDE */
#projects-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: auto;
    width: 100vw;
    padding: 36px;
}
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    background-color: white;
}

.project {
    display: flex;
    justify-content: space-evenly;
    flex: 1 0 40%;
    background-color: white;
    margin: 24px;
    width: 90%;
    height: 40vh;

}

.project:nth-child(even) {
    margin-right: 5%;
}

.project:nth-child(odd) {
    margin-left: 5%;
}

.project img {
    width: 15vw;
    height: 15vw;
    border-radius: 25%;
    filter: drop-shadow(8px 8px 5px grey);
    transition: .25s;
    opacity: 100%;
    z-index: 0;
}

.project a{
    width: 15vw;
    height: 15vw
}

.project img:hover {
    transform: scale(1.05);
    opacity: 75%;
    transition: .5s;
    filter: drop-shadow(8px 8px 5px rgb(66, 66, 66));

}

.project-desc {
    width: 60%;
    margin-left: 48px;

}

.project-desc h2 {
    color: #0058bc;
    font-size: 2.5vh;
    font-weight: 400;
}

.project-desc h3 {
    color: #00ae21;
    font-size: 1.5vh;
    font-weight: 600;
}




/* CONTACT SLIDE */
#contact {
    display: flex;
    flex-direction: column;
    background-color: #dedfe2;
    height: 80px;
    width: 100%;
    padding: 36px;
    justify-content: space-between;
    align-items: center;
}

#contact-socials {
    display: flex;
    justify-content: space-between;  
}

.social-img {
    margin: 12px 16px 12px 16px;
    width: 40px;
    height: auto;
}

.social a{
    height: 100%;
    width: 100%;
}


#contact #signature {
    margin-bottom: 100px;
}


h1 {
    color: black;
    font-size: 5vh;
    font-weight: 400;
    
}

hr {
    height: 1px;
    width: 99%;
}
